body {
	font-family: 'Orbitron', sans-serif;
    background: black;
	color: white;
    text-shadow: 0px 3px 3px gray;
}

/* Menu Button */

#sidr-show-hide {
  position: absolute;
  z-index: 1000;
  left: .5em;
  top: .5em;
  color: white;
  font-size: 3em;
  padding-top: 50px;
}

#close { 
	float: right;
	font-size: 3em;
	margin: 1em;
	padding: 0px 6px;
	border: solid red;
	border-radius: 100px;
}

.close { 
	font-size: 2em;
	margin: 1em;
	padding: 0px 6px;
}

/* Sidebar */

a {
	text-decoration: none;
	color: white;
}

li a {
	width: 100%;
	padding: .5em .5em .5em 0;
}

li a:active  {
	background: white;
	color: black;
}

.places {
  list-style-type: none;
	margin: 0 0 0 2em;
	padding: 0;
	
}
li {
	width: 100%;
	padding: .5em 0;
}
li:nth-child(1) {
	margin: 2em 2em 2em 0;
}

}
li:nth-child(2) {
	margin-bottom: 6em;
}

section {
  min-height: 100%;
  position: absolute;
  width: 100%;
}


/* Sidr */

.sidr {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 16em;
    overflow-x: hidden;
    overflow-y: auto;
	background: gray;
	box-shadow: inset -20px -30px 100px -20px black;
    }

.left {
        left: -18em;
        right: auto;
}

/* Section */

.info {
	margin: 11em 0 0 0;   
}

h3, h1 {
	text-align: center;
	padding: 20px 0;
	margin: 0 32px 0 0;
    font-size: 2.5em;
}

.temp {
	font-size: 5em;
	line-height: 1;
    color: white;
}
#city {
	padding-bottom: 0;
    font-size: 2em;
}
.today {
	border: none;
	padding-top: 0;
    font-size: 1.5em;
}

section i:first-child {
    display: none;
    font-family: weather;
    text-align: center;
    font-size: 3em;
    line-height: 1;
    color: white; 
}

/* Forecast */
i {
    font-family: weather;
    font-size:3em;
    text-align: center;
}

figure {
	display: flex;
	flex-direction: row;
    justify-content: space-around;
}

.forecast {
	text-align:center;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

/* Button */
.geo {
  position: center;
    color: white;
  background: black; 
  width: 100%;
  padding: 1em;
  text-align: center;
	font-family: 'Raleway', sans-serif;
}

.geo:active {
	background: black;
	color: black;
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

 
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

 

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  


}